@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    José Carvalho<br />
    <abbr title="Telefone">P:</abbr>
    47-988114571
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jhdc2008@hotmail.com">jhdc2008@hotmail.com</a><br />
</address>
